{erl_opts, [debug_info]}.
{sub_dirs, ["lib/*"]}.
{deps,
 [
  {cowboy, "", {git, "https://github.com/tsloughter/cowboy", "client_improvements"}}
  ,{gproc, "", {git, "https://github.com/uwiger/gproc/", "master"}}
  ,{ibrowse, "", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}}
  ,{proper, "", {git, "https://github.com/manopapad/proper/", "master"}}
 ]}.
