%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {dwight_routes, [{domains, [{<<"localhost">>, <<"abc">>},
                              {<<"lenin">>, <<"efg">>}]},
                   {route_ids, [{<<"abc">>, <<"localhost">>, 7999},
                                {<<"efg">>, <<"google.com">>, 80}]}]} ].
