%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {dwight_routes, [{domains, [{<<"localhost">>, <<"abc">>},
                              {<<"lenin">>, <<"efg">>},
                              {<<"herokudemo">>, <<"hij">>}]},
                   {route_ids, [{<<"abc">>, <<"localhost">>, 7999},
                                {<<"abc">>, <<"google.com">>, 80},
                                {<<"efg">>, <<"google.com">>, 80},
                                {<<"hij">>, <<"localhost">>, 80}]}]} ].
