%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {dwight_routes, [{domains, [{<<"localhost">>, <<"abc">>},
                              {<<"herokudemo">>, <<"hij">>}]},
                   {route_ids, [{<<"abc">>, <<"dwight-keepalive.herokuapp.com">>, 80},
                                {<<"hij">>, <<"localhost">>, 80}]}]} ].
